**Tuples**

In [18]:
tpl = ('khoa','100','3','4','21','30','4','4','100')

In [19]:
#1.to create a tuple of numbers and print one item.
print(tpl)

('khoa', '100', '3', '4', '21', '30', '4', '4', '100')

In [20]:
#2.to unpack a tuple into several variables.
user_name, level, *num_random = tpl
print(user_name)
print(level)
print(num_random)

khoa
100
['3', '4', '21', '30', '4', '4', '100']

In [21]:
#3.to add an item to a tuple.
lst = list(tpl)
lst.append("hello")
tpl_new = tuple(lst)
print(tpl_new)

('khoa', '100', '3', '4', '21', '30', '4', '4', '100', 'hello')

In [22]:
#4.to find the index of an item in a tuple.
item = input("Nhap ky tu ban muon tim index: ")
print(tpl.index(item))

1

In [24]:
#5.to find the repeated items of a tuple
for i in tpl:
    print(i,tpl.count(i))

khoa 1
100 2
3 1
4 3
21 1
30 1
4 3
4 3
100 2

***Set***

In [28]:
s1 = {1,2,3,4,5,6,11,8,9,10}

In [29]:
#1.Write a Python program to find the maximum and minimum values in a set.
print(f'Maximum value: {max(s1)}\nMinimum value: {min(s1)}')

Maximum value: 11
Minimum value: 1

In [32]:
#2.Write a Python program to check if a given value is present in a set or not.
value = int(input("Nhap ky tu ban muon tim xem co trong set khong: "))
print(value in s1)

True

In [33]:
#3.Write a Python program to check if two given sets have no elements in common.
s2 = {1,33,44,55}
print(s2&s1)

{1}

In [8]:
#4.Write a Python program to find all the unique words and count the frequency of occurrence from a given list of strings. Use Python set data type.
s = ["hello word","hello Khoa","Khoa is a student"]
word = []
for i in s:
    w = i.split()
    word.extend(w)

unique_words = set(word)
print(unique_words)
frequency = {w: word.count(w) for w in unique_words}
print(frequency)

{'student', 'word', 'is', 'Khoa', 'a', 'hello'}
{'student': 1, 'word': 1, 'is': 1, 'Khoa': 2, 'a': 1, 'hello': 2}

In [16]:
#5.Given two sets of numbers, write a Python program to find the missing numbers in the second set as compared to the first and vice versa. Use the Python set.
set_1 = {1,2,3,4,5}
set_2 = {3,4,5,6,7,8}
print(f"Thieu trong tap 1: {set_2-set_1}")
print(f"Thieu trong tap 2: {set_1.difference(set_2)}")

Thieu trong tap 1: {8, 6, 7}
Thieu trong tap 2: {1, 2}

**Dictionary**

In [ ]:
#1.Convert two lists into a dictionary

In [ ]:
#2.Merge two Python dictionaries into one

In [ ]:
#3.Print the value of key ‘history’ from the below dict

In [ ]:
#4.Initialize dictionary with default values

In [ ]:
#5.Create a dictionary by extracting the keys from a given dictionary

In [ ]:
#6.Delete a list of keys from a dictionary

In [ ]:
#7.Check if a value exists in a dictionary

In [ ]:
#8.Rename key of a dictionary

In [ ]:
#9.Get the key of a minimum value from the following dictionary

In [ ]:
#10.Change value of a key in a nested dictionary

In [ ]:
#11.Counts the number of times characters appear in a text paragraph.

In [ ]:
#12.Using a dictionary containing keys starting from 1 and values ​​containing prime numbers less than a value N.

** Restructuring the company data:**

Suppose you have a dictionary that contains information about employees at a company. Each employee is identified by an ID number, and their information includes their name, department, and salary. You want to create a nested dictionary that groups employees by department so that you can easily see the names and salaries of all employees in each department.

Write a Python program that when given a dictionary, employees, outputs a nested dictionary, dept_employees, which groups employees by department.

Sample result